<!doctype html>
<html lang="zh-cmn-Hans" ng-app="app" ng-csp>
<head>
  <meta charset="UTF-8">
  <title>知乎日报</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/lib/angular/angular-csp.css">
  <link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.carousel.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/zhihu.css">

  <script src="assets/lib/angular/angular.min.js"></script>
  <script src="assets/lib/angular/angular-animate.min.js"></script>
  <script src="assets/lib/ui-router/angular-ui-router.min.js"></script>
  <script src="assets/lib/ui-router-extras/ct-ui-router-extras.min.js"></script>
  <script src="assets/lib/jquery/jquery.min.js"></script>
  <script src="assets/lib/ngInfiniteScroll/ng-infinite-scroll.min.js"></script>
  <script src="assets/lib/angular-ui-bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
  <script src="app/app.module.js"></script>
  <script src="app/layout/list.controller.js"></script>
  <script src="app/layout/detail.controller.js"></script>
  <script src="app/layout/theme.controller.js"></script>
  <script src="app/directive/blobSrc.directive.js"></script>
  <script src="app/directive/chromeBindHtml.directive.js"></script>
  <script src="app/directive/zhihuThemes.directive.js"></script>
  <script src="app/filter/zhihuDate.filter.js"></script>
  <script src="app/app.service.js"></script>
  <script src="app/app.config.js"></script>
</head>
<body>
  <div class="navbar-wrap">
    <nav class="navbar">
      <div class="container-zhihu">
        <a ng-show="!$state.includes('app.detail')" href="#/" class="navbar-brand">
          <img src="assets/img/brand.png">
        </a>
        <a ng-show="$state.includes('app.detail')" ng-click="$previousState.go();" href="" class="navbar-brand">
          <img src="assets/img/arrow-back.png">
        </a>
        <a href="#/">首页</a>
        <span zhihu-themes></span>
        <a ng-show="!$state.includes('app.detail')" href="" ng-click="reload()">刷新</a>
      </div>
    </nav>
  </div>
  <div ui-view></div>
</body>
</html>
