<div class="container-zhihu">
  <carousel interval="5000">
    <slide ng-repeat="slide in list.top_stories" active="slide.active">
      <div>
      <img class="zhihu-image-head" blob-src="{{slide.image}}" alt="">
      </div>
      <div class="carousel-caption">
        <a class="item" href="#/news/{{slide.id}}">
          <h1 class="head-title">{{slide.title}}</h1>
        </a>
      </div>
      <div class="img-mask"></div>
    </slide>
  </carousel>
  <div class="list-wrap">
    <div class="datestamp">
      {{list.date | zhihuDate: 'yyyy年MM月dd日'}}
    </div>
    <div class="list-group">
      <a ng-repeat="item in list.stories" ng-href="#/news/{{item.id}}" class="list-item clearfix"><div class="list-item-title">{{item.title}}</div><img class="list-item-img" blob-src="{{item.images[0]}}"></a>
    </div>
  </div>
  <div  infinite-scroll-container="'#list'" infinite-scroll-distance="1" infinite-scroll="getOldNews();">
    <div class="list-wrap" ng-repeat="daily in oldNews | orderBy: daily.date">
      <div class="datestamp">
        {{daily.date | zhihuDate: 'yyyy年MM月dd日'}}
      </div>
      <div class="list-group">
        <a ng-repeat="item in daily.stories" ng-href="#/news/{{item.id}}" class="list-item"><div class="list-item-title">{{item.title}}</div><img class="list-item-img" blob-src="{{item.images[0]}}"></a>
      </div>
    </div>
  </div>
</div>
