<div id="container">
	<carousel interval="myInterval">
		<slide ng-repeat="slide in top_stories" active="slide.active">
			<img class="headImg" src="{{slide.image}}" alt="">
			<div class="carousel-caption">
				<a class="item" href="#/news/{{slide.id}}">
					<h1 class="head-title">{{slide.title}}</h1>
				</a>
			</div>
		</slide>
	</carousel>
	<div class="main">
		<h2 class="datestamp">
				{{date|date:'yyyy年MM月dd日'}}
				<!-- date of today -->
		</h2>
		<div class="list-group">

			<a ng-repeat="item in news" ng-href="#/news/{{item.id}}" id="{{item.id}}" class="list-group-item"><img ng-src="{{item.thumbnail}}"><span class="glyphicon glyphicon-chevron-right pull-right"></span><h3>{{item.title}}</h3></a>
			<!-- question title  here -->
		</div>
	</div>
	<div class="main" infinite-scroll="getPreviousNews();">
		<div ng-repeat="data in previousNews">
			<h2 class="datestamp">
					{{data.date}}
					<!-- date of today -->
			</h2>
			<div class="list-group">
				<a ng-repeat="item in data.news" ng-href="#/news/{{item.id}}" id="{{item.id}}" class="list-group-item"><img ng-src="{{item.thumbnail}}"><span class="glyphicon glyphicon-chevron-right pull-right"></span><h3>{{item.title}}</h3></a>
				<!-- question title  here -->
			</div>
		</div>
	</div>
</div>