<div ng-if="detail.type == 0" class="container-zhihu detail-zhihu">
  <div class="headline" ng-if="::detail.image">
    <div class="img-wrap">
      <h1 class="headline-title">{{::detail.title}}</h1>
      <span class="img-source">{{::detail.image_source}}</span>
      <img class="zhihu-image-head" blob-src="{{::detail.image}}" alt="">
      <div class="img-mask"></div>
    </div>
  </div>
  <div ng-if="detail.recommendersDetail" class="box-recommender">
    推荐者：
      <a href="http://www.zhihu.com/people/{{item.zhihu_url_token}}" target="_blank" title="{{item.name}}{{item.bio && '「' + item.bio + '」'}}" ng-repeat="item in detail.recommendersDetail.items[0].recommenders">
        <img class="avatar-circle" blob-src="{{item.avatar}}" alt="{{item.name}}"></span>
      </a>
  </div>
  <div id="content-inner" chrome-bind-html="::detail.body"></div>
  <div class="back-to-top" back-to-top="#detail"></div>
</div>
<webview ng-if="detail.type == 1" class="detail-webview" name="detail-view" ng-src="{{::detail.share_url}}"></webview>
<div ng-if="detail.type == 2" class="container-zhihu detail-zhihu">
  <div id="content-inner" chrome-bind-html="::detail.body"></div>
  <div class="back-to-top" back-to-top="#detail"></div>
</div>
