<div class="container-zhihu">
  <carousel interval="5000">
    <slide ng-repeat="slide in ::list[0].top_stories" active="slide.active">
      <div>
      <img class="zhihu-image-head" blob-src="{{::slide.image}}" alt="">
      </div>
      <div class="carousel-caption">
        <a class="item" href="#/news/{{::slide.id}}">
          <h1 class="head-title">{{::slide.title}}</h1>
        </a>
      </div>
      <div class="img-mask"></div>
    </slide>
  </carousel>
  <div infinite-scroll-container="'#list'" infinite-scroll-distance=".5" infinite-scroll="getOldNews();">
    <div class="list-wrap" ng-repeat="daily in list">
      <div class="datestamp">
        {{::daily.date | zhihuDate: 'yyyy年MM月dd日'}}
      </div>
      <div class="list-group">
        <a ng-repeat="item in ::daily.stories" ng-href="#/news/{{::item.id}}" class="list-item clearfix"><div class="list-item-title">{{::item.title}}</div><img ng-if="::item.images[0]" class="list-item-img" blob-src="{{::item.images[0]}}"></a>
      </div>
    </div>
  </div>
</div>
<div class="back-to-top" back-to-top="#list"></div>
